---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Aeternus</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="font-display text-3xl uppercase">Everlasting Creativity</h1>
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi provident
      quo alias tenetur, officiis unde nostrum molestias iure delectus
      accusantium, cumque expedita, in facilis mollitia!.
    </p>
  </body>
</html>
